ACCESS_KEY=""
SECRET_KEY=""
SESSION_TOKEN=""
REGION="us-east-1"

MONGO_URI=""
MONGO_DB="gold_db"
MONGO_COLLECTION="gold_collection"

S3_BUCKET="bucket-gold-data"

GLUE_DATABASE="db_gold"
GLUE_CRAWLER="crawler-gold"
GLUE_JOB="job-gold"

CSV_PATH="data/gold_1d_data.csv"

URL_LAMBDA="https://jt7462aakg7st6staimiiogqcu0nchsn.lambda-url.us-east-1.on.aws/"